<web-app>

  <servlet>
    <servlet-name>HelloServletName</servlet-name>
    <servlet-class>com.simpleservlet.demo.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServletName</servlet-name>
    <url-pattern>/hello</url-pattern>
    <url-pattern>/helloThroughFilter</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>HelloFilterName</filter-name>
    <filter-class>com.simpleservlet.demo.HelloFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HelloFilterName</filter-name>
    <url-pattern>/helloThroughFilter</url-pattern>
  </filter-mapping>

</web-app>

